
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
